<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <form method="POST" action="/new" class="message-form">
        <div class="form-row">
            <label for="messageUser" class="form-label">Name</label>
            <input type="text" name="messageUser" class="form-input" required>
        </div>
        <div class="form-row">
            <label for="messageText" class="form-label">Message</label>
            <textarea type="text" name="messageText" class="form-textarea" required></textarea>
        </div>
        <div class="form-row">
            <button type="submit" class="form-button">Send Message</button>
        </div>
    </form>
  </body>
</html>
