<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <% for (const obj of messages) { %>
      <div>
      <% for (const property in obj) { %>
        <p><%= obj[property] %></p>
      <% } %>
      </div>
    <% } %>
  </body>
</html>
